{% extends 'base.html.twig' %}

{% block title %}Edit TraductionSource{% endblock %}

{% block body %}
    <h1>Edit TraductionSource</h1>

    {{ include('traduction_source/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('traduction_source_index') }}">back to list</a>

    {{ include('traduction_source/_delete_form.html.twig') }}
{% endblock %}
